<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="EasyExplorer.contribution1">
         <action
               label="Open CMD"
               class="easyexplorer.popup.actions.OpenCMD"
               enablesFor="1"
               id="EasyExplorer.openCmd">
         </action>
         <action
               class="easyexplorer.popup.actions.OpenExplorer"
               enablesFor="1"
               id="EasyExplorer.openExplorer"
               label="Open Explorer">
         </action>
      </objectContribution>
   </extension>

</plugin>
